---
interface Props{
  rows:number;
  cols:number;
  horizontal?:boolean;
}

const {rows,cols,horizontal=false}=Astro.props;
---

<table>
  {
    Array
      .from({length:rows})
      .map((_,row)=>(
        <tr>
          {
            Array
              .from({length: cols})
              .map((_,col)=>{
                const cellName=`cell-${row}-${col}`;

                return(
                  <td></td>
                );
              })
          }
        </tr>
      ))
  }
</table>
