@import 'https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css';

@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-accent-200: #fcb4a8;
  --color-accent-600: #cb0000;
  --color-accent-900: #640101;
  --color-accent-950: #450d08;

  --color-gray-100: #f5f6f8;
  --color-gray-200: #eceef2;
  --color-gray-300: #c0c2c7;
  --color-gray-400: #888b96;
  --color-gray-500: #545861;
  --color-gray-700: #353841;
  --color-gray-800: #24272f;
  --color-gray-900: #17181c;
}
