@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source '../../components/**/*.{vue}';
@source '../../layouts/**/*.{vue}';

@theme{
  --color-primary: var(--color-blue-600);
  --color-background: var(--color-gray-100);
  --color-surface: var(--color-slate-200);

  --color-body: var(--color-slate-900);
  --color-muted: var(--color-slate-600);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer theme{
  :root{
    @variant dark{
    }
  }
}

@layer base{
  html{
    scroll-padding-top:32px;
  }

  body,
  input,
  button{
    @apply text-muted;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    @apply text-body font-bold;
  }

  body{
    @apply bg-background;
  }

  a{
    @apply text-primary hover:underline;
  }

  button{
    @apply cursor-pointer disabled:cursor-default;
  }
}

@layer utilities {
  .reset> *:first-child {
    margin-top: 0;
  }

  .reset > *:last-child {
    margin-bottom: 0;
  }
}
