---
import type { HTMLAttributes } from 'astro/types';

import {
  DEFAULT_LOCALE,
  convertStringToLocale,
} from '@utils/i18n';

interface Props extends HTMLAttributes<'a'>{
  href:string;
}

const {
  href,
  class:className,
  ...props
}=Astro.props;

const { pathname } = Astro.url;

const sanitizedLocale=convertStringToLocale(Astro.currentLocale??'');
const absoluteHref=sanitizedLocale===DEFAULT_LOCALE
  ?href
  :`/${Astro.currentLocale}${href}`;

const isActive=
  pathname===absoluteHref||
  pathname===`${absoluteHref}/`;
---

<a 
  href={absoluteHref} 
  class:list={[
    className,
    {'is-active':isActive},
  ]} 
  aria-current={isActive?'page':undefined}
  {...props}
>
  <slot></slot>
</a>
