---
import type { HTMLAttributes } from 'astro/types';
import { getAbsoluteLocaleUrl } from 'astro:i18n';

import type { Locale } from '@/types/i18n';

interface Props extends HTMLAttributes<'a'>{
  href:string;
  activeClass?:string;
  locale?:Locale;
  isActive?:boolean;
}

const {
  href,
  class:className,
  activeClass='',
  locale=Astro.currentLocale,
  isActive,
  ...props
}=Astro.props;

const { pathname } = Astro.url;

let absoluteUrl:string|undefined=undefined;

if(locale)absoluteUrl=getAbsoluteLocaleUrl(locale,href);

const isActive2=
  isActive||
  (
    absoluteUrl!==undefined&&
    pathname===absoluteUrl
  )
---

<a 
  href={absoluteUrl}
  class:list={[
    className,
    'inline-block',
    {[`is-active ${activeClass}`]:isActive2},
  ]} 
  aria-current={isActive?'page':undefined}
  {...props}
>
  <slot></slot>
</a>
