<div class="theoremBox">
  <slot></slot>
</div>

<style>
.theoremBox{
  padding:12px;
  border:2px solid var(--sl-color-accent);
  border-radius:4px;
}

.theoremBox :global(strong){
  color:var(--sl-color-accent);
}
</style>
