<div class="articlesGrid">
  <slot></slot>
</div>

<style>
.articlesGrid {
  margin-top: 32px;
  display: grid;
  gap: 24px;
}

@media screen and (min-width:768px){
  .articlesGrid {
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }
}
</style>
