@import "tailwindcss";

@source '../../components/**/*.{vue}';
@source '../../layouts/**/*.{vue}';

@theme{
  --color-primary:var(--color-blue-600);

  --color-surface:var(--color-slate-50);
  --color-surface-border:var(--color-gray-700);

  --color-body:var(--color-gray-700);
  --color-muted:var(--color-slate-600);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer theme{
  :root{
    @variant dark{
      --color-primary:var(--color-blue-400);

      --color-surface:var(--color-gray-900);
      --color-surface-border:var(--color-slate-500);

      --color-body: var(--color-gray-300);
      --color-muted: var(--color-slate-400);
    }
  }
}

@layer base{
  html{
    scroll-padding-top:32px;
  }

  body,
  input,
  button{
    @apply text-muted;
  }

  body{
    @apply bg-surface;
  }

  a{
    @apply text-primary hover:underline;
  }

  button{
    @apply cursor-pointer disabled:cursor-default;
  }
}
