---
import BaseSection from './BaseSection.astro';

interface Props{
  reverse:boolean;
}

const {reverse}=Astro.props;
---

<BaseSection>
  <div class="grid gap-6 md:grid-cols-2 md:items-center">
    <div class="twoColumnSection-column is-first">
      <slot name="first"></slot>
    </div>
    <div
      class="twoColumnSection-column is-second"
      class:list={[{'-order-1 md:order-2':reverse}]}
    >
      <slot name="second"></slot>
    </div>
  </div>
</BaseSection>
